#### Import the necessary packages

In [1]:
import numpy as np
import pandas as pd
import pickle

from sklearn.preprocessing import MinMaxScaler
from sklearn. pipeline import Pipeline

from pyod.models.knn import KNN

#### Read the cars dataset

In [2]:
car_df = pd.read_csv('cars.csv')

In [3]:
car_df.head()

    mpg  cyl   disp   hp    wt   acc  yr  origin                   car_name
0  18.0    8  307.0  130  3504  12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165  3693  11.5  70       1          buick skylark 320
2  18.0    8  318.0  150  3436  11.0  70       1         plymouth satellite
3  16.0    8  304.0  150  3433  12.0  70       1              amc rebel sst
4  17.0    8  302.0  140  3449  10.5  70       1                ford torino

In [4]:
car_df.drop('car_name', axis=1, inplace=True)

In [5]:
car_df.head()

    mpg  cyl   disp   hp    wt   acc  yr  origin
0  18.0    8  307.0  130  3504  12.0  70       1
1  15.0    8  350.0  165  3693  11.5  70       1
2  18.0    8  318.0  150  3436  11.0  70       1
3  16.0    8  304.0  150  3433  12.0  70       1
4  17.0    8  302.0  140  3449  10.5  70       1

In [6]:
car_df.drop(car_df[car_df['hp'] == '?'].index, axis=0, inplace=True)

In [7]:
print('The shape of the input data:',car_df.shape)

The shape of the input data: (392, 8)

#### Create pipeline using MinMaxScaler and the KNN algorithm

In [12]:
steps = [('scaler', MinMaxScaler()), ('knn', KNN())]


pipe = Pipeline(steps)

In [13]:
pipe.fit(car_df)

Pipeline(steps=[('scaler', MinMaxScaler()),
                ('knn',
                 KNN(algorithm='auto', contamination=0.1, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2,
  radius=1.0))])

In [15]:
pickle.dump(pipe, open('model.pkl', 'wb'))